[Desktop Entry]
Type=Application
Exec=python /home/test/api/api_test_redmine.py
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[es_ES]=api_test_redmine
Name=api_test_redmine
Comment[es_ES]=API for test Redmine
Comment=API for test Redmine